#header {
  min-width: 100%;
  z-index: 999;
  margin: auto;
  height: 90px;
  background-color: #fff;
}
#header .container .row .top-bar-left {
  height: 90px;
}
#header .container .row .top-bar-left > a {
  display: block;
  width: 100%;
  height: 100%;
}
#header .container .row .top-bar-left > a img {
  height: 100%;
}
#header .container .row .top-bar-right .top-bar-right-top {
  height: 39px;
  line-height: 39px;
}
#header .container .row .top-bar-right .top-bar-right-bottom {
  height: 50px;
  line-height: 50px;
  position: relative;
}
#header .container .row .top-bar-right .top-bar-right-bottom > a:nth-child(1)::after {
  content: '';
  display: inline-block;
  width: 10%;
  border-bottom: 3px solid #999;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
#header .container .row .top-bar-right .top-bar-right-bottom > a {
  font-size: 16px;
}
#header .container .row .top-bar-right .top-bar-right-bottom > a:hover::after {
  content: '';
  display: inline-block;
  width: 10%;
  border-bottom: 3px solid #999;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
#banner {
  margin-top: 6px;
}
#banner .swiper-slide {
  height: 450px;
}
#banner .swiper-slide img {
  width: 100%;
  height: 100%;
}
#banner .swiper-container {
  --swiper-theme-color: #fff;
  /* 设置Swiper风格 */
  --swiper-navigation-color: #fff;
  /* 单独设置按钮颜色 */
  --swiper-navigation-size: 30px;
  /* 设置按钮大小 */
}
#main #solution {
  box-sizing: border-box;
}
#main #solution > section {
  height: 400px;
  box-sizing: border-box;
  width: calc(50% - 10px);
  background-repeat: no-repeat;
  background-size: cover;
}
#main #solution > section .content {
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}
#main #solution > section .content p {
  margin: 20px 0 30px;
}
#main #solution > section .content a em {
  margin-right: 6px;
}
#main #solution > section:nth-child(1) {
  background: url('/static/images/home/solution-bg-01.png');
}
#main #solution > section:nth-child(2) {
  background: url('/static/images/home/solution-bg-02.png');
}
#main #solution > section:nth-child(3) {
  background: url('/static/images/home/solution-bg-03.png');
}
#main #solution > section:nth-child(4) {
  background: url('/static/images/home/solution-bg-04.png');
}
#main #product {
  background-color: red;
}
#main #about {
  background-color: red;
}
#footer {
  background-color: yellow;
}
