#header {
  min-width: 100%;
  z-index: 999;
  margin: auto;
  height: 90px;
  background-color: #fff;
}
#header .container .row .top-bar-left {
  height: 90px;
}
#header .container .row .top-bar-left > a {
  display: block;
  width: 100%;
  height: 100%;
}
#header .container .row .top-bar-left > a img {
  height: 100%;
}
#header .container .row .top-bar-right .top-bar-right-top {
  height: 39px;
  line-height: 39px;
}
#header .container .row .top-bar-right .top-bar-right-bottom {
  height: 50px;
  line-height: 50px;
  position: relative;
}
#header .container .row .top-bar-right .top-bar-right-bottom > a:nth-child(1)::after {
  content: '';
  display: inline-block;
  width: 10%;
  border-bottom: 3px solid #999;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
#header .container .row .top-bar-right .top-bar-right-bottom > a {
  font-size: 16px;
}
#header .container .row .top-bar-right .top-bar-right-bottom > a:hover::after {
  content: '';
  display: inline-block;
  width: 10%;
  border-bottom: 3px solid #999;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
#banner {
  margin-top: 6px;
}
#banner .swiper-slide {
  height: 450px;
}
#banner .swiper-slide img {
  width: 100%;
  height: 100%;
}
#banner .swiper-container {
  --swiper-theme-color: #fff;
  /* 设置Swiper风格 */
  --swiper-navigation-color: #fff;
  /* 单独设置按钮颜色 */
  --swiper-navigation-size: 30px;
  /* 设置按钮大小 */
}
#main #solution {
  box-sizing: border-box;
}
#main #solution > section {
  height: 400px;
  box-sizing: border-box;
  width: calc(50% - 10px);
  background-repeat: no-repeat;
  background-size: cover;
}
#main #solution > section:hover {
  transition: 0.5s all;
  transform: scale(1.02);
}
#main #solution > section .content {
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}
#main #solution > section .content p {
  margin: 20px 0 30px;
}
#main #solution > section .content a em {
  margin-right: 6px;
}
#main #solution > section:nth-child(1) {
  background: url('/static/images/home/solution-bg-01.png');
}
#main #solution > section:nth-child(2) {
  background: url('/static/images/home/solution-bg-02.png');
}
#main #solution > section:nth-child(3) {
  background: url('/static/images/home/solution-bg-03.png');
}
#main #solution > section:nth-child(4) {
  background: url('/static/images/home/solution-bg-04.png');
}
#main #product {
  margin-top: 100px;
}
#main #product .tit {
  line-height: 86px;
  font-weight: 300;
  color: #333;
  height: 86px;
  font-size: 32px;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  font-family: Noto Sans S Chinese;
}
#main #product .tit .tit-line {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  background-color: #eeeeee;
  width: 170px;
}
#main #product .tit .tit-line::after {
  content: '';
  height: 3px;
  width: 60px;
  display: block;
  background-color: #007bf5;
  margin: 0 auto;
}
#main #product .carousel {
  position: relative;
  width: 1300px;
  margin: 0 auto;
  background: #fff;
}
#main #product .carousel .next,
#main #product .carousel .prev {
  display: block;
  width: 52px;
  height: 52px;
  background: #ffffff no-repeat center center;
  box-shadow: 0px 0px 16px 0px rgba(144, 144, 144, 0.4);
  border-radius: 50%;
  position: absolute;
  top: 45%;
  width: 56px;
  height: 56px;
  margin-top: -28px;
  z-index: 99;
  cursor: pointer;
}
#main #product .carousel .prev {
  left: 0;
  background-image: url(/static/images/home/ic_syige_01.png);
}
#main #product .carousel .prev.disabled {
  box-shadow: 0 0 0;
  border: 1px solid #eeeeee;
  background-image: url(/static/images/home/ic_syige_02.png);
  pointer-events: none;
}
#main #product .carousel .next {
  right: 0;
  background-image: url(/static/images/home/ic_xyige_01.png);
}
#main #product .carousel .next.disabled {
  box-shadow: 0 0 0;
  border: 1px solid #eeeeee;
  background-image: url(/static/images/home/ic_xyige_02.png);
  pointer-events: none;
}
#main #product .carousel ul {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  margin-bottom: 110px;
}
#main #product .carousel li {
  background-color: #fff;
  padding-bottom: 190px;
}
#main #product .carousel li a {
  display: block;
}
#main #product .carousel li .imgbox {
  width: 340px;
  height: 220px;
  border-radius: 4px;
  margin: 0 auto;
  overflow: hidden;
}
#main #product .carousel li img {
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.5s all;
  float: none !important;
}
#main #product .carousel li:hover .text h5 {
  color: #007bf5;
}
#main #product .carousel li:hover .imgbox img {
  transform: scale(1.1);
}
#main #product .carousel li .text {
  width: 312px;
  position: absolute;
  top: 190px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0 30px;
  overflow: hidden;
  box-sizing: border-box;
  height: 200px;
  background: #ffffff;
  box-shadow: 0px 0px 16px 0px rgba(144, 144, 144, 0.4);
}
#main #product .carousel li .text h5 {
  color: #222222;
  font-size: 24px;
  line-height: 70px;
  transition: 0.5s all;
}
#main #product .carousel li .text p {
  font-size: 14px;
  line-height: 26px;
  color: #777;
}
#main #about {
  background: url(/static/images/home/bg_hlzzjs.png) center center;
  height: 430px;
}
#main #about .wrap {
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}
#main #about .wrap .fl {
  width: 205px;
  height: 205px;
  margin-top: 100px;
}
#main #about .wrap .fr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}
#main #about .wrap .fr .tit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
#main #about .wrap .fr .tit span {
  font-size: 32px;
  line-height: 1;
  color: #333;
}
#main #about .wrap .fr p {
  color: #555555;
  font-size: 14px;
  line-height: 30px;
}
#main #about .wrap > a {
  width: 80px;
  height: 32px;
  background: #007bf5;
  border-radius: 4px;
  text-align: center;
  display: block;
  line-height: 32px;
  color: #fff;
  font-size: 14px;
  margin-top: 280px;
}
#footer {
  background-color: yellow;
}
