<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/static/lib/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/lib/css/swiper.min.css" />
    <link rel="stylesheet" href="/static/lib/css/animate.min.css" />
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <title>Ginger</title>
  </head>
  <body>
    <!-- 头部 -->
    <header id="header">
      <div class="container">
        <div class="row">
          <!-- 左 logo -->
          <div class="top-bar-left col-md-2">
            <a href="/"><img src="/static/images/logo.png" alt="" /></a>
          </div>
          <!-- 右 -->
          <div
            class="top-bar-right d-none col-md-10 d-sm-noe d-md-none d-lg-block text-center d-flex flex-column"
          >
            <!-- 上 -->
            <div
              class="top-bar-right-top row text-danger font-weight-bold border-bottom align-middle"
            >
              <div class="col-md-3"></div>
              <div class="col-md-3"></div>
              <div class="col-md-3 align-middle">
                <em class="iconfont">&#xe602;</em>
                服务热线: 07305201314
              </div>
              <div class="col-md-3">
                <em class="iconfont">&#xe71f;</em>
                联系电话: 187XXXXXXXX
              </div>
            </div>
            <!-- 下 -->
            <nav class="top-bar-right-bottom row align-middle">
              <a href="" class="col-md-2">网站首页</a>
              <a href="" class="col-md-2">系统集成</a>
              <a href="" class="col-md-2">IT外包</a>
              <a href="" class="col-md-2">服务器维修</a>
              <a href="" class="col-md-2">软件服务</a>
              <a href="" class="col-md-2">关于我们</a>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <!-- 轮播 -->
    <section id="banner">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="">
              <img src="/static/images/home/banner01.jpg" alt="" />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="">
              <img src="/static/images/home/banner02.jpg" alt="" />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="">
              <img src="/static/images/home/banner03.jpg" alt="" />
            </a>
          </div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>

        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </section>

    <!--  内容区 -->
    <main id="main">
      <!-- 解决方案 -->
      <section
        id="solution"
        class="d-flex flex-row justify-content-between flex-wrap text-center"
      >
        <section class="m-1 position-relative">
          <div class="content position-absolute">
            <h5>系统集成</h5>
            <p>
              IT基础设置，平台咨询，规划，设计与建设： 基...
            </p>
            <a href="#">
              <button type="button" class="btn btn-primary">
                <em class="iconfont">&#xe620;</em>
                查看详情
              </button>
            </a>
          </div>
        </section>
        <section class="m-1 position-relative">
          <div class="content position-absolute">
            <h5>桌面维护</h5>
            <p>
              在IT环境日趋复杂、数据和网络安全日益困扰我们...
            </p>
            <a href="#">
              <button type="button" class="btn btn-primary">
                <em class="iconfont">&#xe620;</em>
                查看详情
              </button>
            </a>
          </div>
        </section>
        <section class="m-1 position-relative">
          <div class="content position-absolute">
            <h5>服务器维修</h5>
            <p>
              我们在长沙及其他城市拥有18年行业经验和一线原...
            </p>
            <a href="#">
              <button type="button" class="btn btn-primary">
                <em class="iconfont">&#xe620;</em>
                查看详情
              </button>
            </a>
          </div>
        </section>
        <section class="m-1 position-relative">
          <div class="content position-absolute">
            <h5>软件服务</h5>
            <p>
              维保范围：小型机、PC服务器、存储、网络设备等...
            </p>
            <a href="#">
              <button type="button" class="btn btn-primary">
                <em class="iconfont">&#xe620;</em>
                查看详情
              </button>
            </a>
          </div>
        </section>
      </section>

      <!-- 产品 -->
      <section id="product">
        <div class="tit">
          <h3>主打产品</h3>
          <div class="tit-line"></div>
        </div>
        <!-- 切换 -->
        <div class="carousel">
          <a class="prev"></a>
          <ul>
            <li>
              <a href="javascript:">
                <div class="imgbox">
                  <img src="/static/images/home/solution-bg-04.png" />
                </div>
                <div class="text">
                  <h5>系统集成</h5>
                  <p>
                    IT基础设置，平台咨询，规划，设计与建设：
                    基础网络结构化布线，中心机房，网络通信，网络安全，平台系统软件等IT基础设施的规划设计与建设
                    核心数据系统（IDC）的咨询，规划设计与建设：
                    服务器，小型机，存储，数据库，数据监测，容灾备份，数据迁移，数据虚拟化等核心数据系统的规划设计与建设
                    视频会议系统咨询，规划设计与建设：
                    远程视频会议，远程教学等系统的规划设计与建设
                    安防监控系统咨询，规划设计与建设：
                    环境监控，门禁，温湿度监测报警，范围监测报警，三维电子地图，智能停车管理，监控大屏，监控管理平台等安防监控系统的规划设计与建设
                  </p>
                </div>
              </a>
            </li>
            <li>
              <a href="javascript:">
                <div class="imgbox">
                  <img src="/static/images/home/solution-bg-04.png" />
                </div>
                <div class="text">
                  <h5>IT外包</h5>
                  <p>电脑维修</p>
                  <p>桌面设备软硬件</p>
                  <p>网络设备、服务器、存储设备</p>
                  <p>机房环境监控、监控系统等设备</p>
                </div>
              </a>
            </li>
            <li>
              <a href="javascript:">
                <div class="imgbox">
                  <img src="/static/images/home/solution-bg-04.png" />
                </div>
                <div class="text">
                  <h5>服务器维修</h5>
                  <p>IBM服务器上门快修</p>
                  <p>DELL服务器上门快修</p>
                  <p>HP服务器上门快修</p>
                  <p>Oracle/sun上门快修</p>
                  <p>EMC存储上门快修</p>
                </div>
              </a>
            </li>
            <li>
              <a href="javascript:">
                <div class="imgbox">
                  <img src="/static/images/home/solution-bg-04.png" />
                </div>
                <div class="text">
                  <h5>软件服务</h5>
                  <p>软件研发</p>
                  <p>微信开发</p>
                  <p>移动APP</p>
                </div>
              </a>
            </li>
          </ul>
          <a class="next"></a>
        </div>
      </section>
      <!-- 关于我们 -->
      <section id="about">
        <div class="wrap">
          <img class="fl" src="/static/images/logo.png" />
          <div class="fr">
            <div class="tit">
              <span>Ginger智能</span>
            </div>
            <p>
              关关雎鸠，在河之洲。窈窕淑女，君子好逑。
            </p>
            <p>
              参差荇菜，左右流之。窈窕淑女，寤寐求之。
            </p>
            <p>
              求之不得，寤寐思服。悠哉悠哉，辗转反侧。
            </p>
            <p>参差荇菜，左右采之。窈窕淑女，琴瑟友之。</p>
            <p>参差荇菜，左右芼之。窈窕淑女，钟鼓乐之。</p>
          </div>
          <a href="javascript:void(0);">+ 更多</a>
        </div>
      </section>

      <!-- 新闻中心 -->
      <section id="news">
        <div class="tit">
          <h3>新闻中心</h3>
          <div class="tit-line"></div>
        </div>
        <a href="javascript:void(0);">
          <div class="latest-news">
            <img src="/static/images/home/banner01.jpg" />
            <div class="fr">
              <h5 class="dh">
                乐府·鼓吹曲辞·上邪
              </h5>
              <p class="dh2">
                上邪！ 我欲与君相知， 长命无绝衰。 山无陵， 江水为竭，
                冬雷震震， 夏雨雪， 天地合， 乃敢与君绝！
              </p>
              <p class="p1">
                <span>2017-04-20</span><span class="sp1">查看详情</span>
              </p>
            </div>
          </div>
        </a>
        <!-- 新闻列表 -->
        <ul>
          <li>
            <a href="javascript:void(0);">
              <div class="fl">
                <span>09</span>
                <p>2020-03</p>
              </div>
              <div class="fr">
                <h5 class="dh">诗经·郑风·子衿</h5>
                <p class="dh">
                  青青子衿，悠悠我心。 纵我不往，子宁不嗣音？
                  青青子佩，悠悠我思。 纵我不往，子宁不来？ 挑兮达兮，在城阙兮。
                  一日不见，如三月兮。
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <div class="fl">
                <span>09</span>
                <p>2020-03</p>
              </div>
              <div class="fr">
                <h5 class="dh">诗经·野有蔓草</h5>
                <p class="dh">
                  野有蔓草，零露漙兮。 有美一人，清扬婉兮。 邂逅相遇，适我愿兮。
                  野有蔓草，零露瀼瀼。 有美一人，婉如清扬。 邂逅相遇，与子偕臧
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <div class="fl">
                <span>09</span>
                <p>2020-03</p>
              </div>
              <div class="fr">
                <h5 class="dh">绸缪</h5>
                <p class="dh">
                  绸缪束薪，三星在天。今夕何夕，见此良人？子兮子兮，如此良人何？
                  绸缪束刍，三星在隅。今夕何夕，见此邂逅？子兮子兮，如此邂逅何？
                  绸缪束楚，三星在户。今夕何夕，见此粲者？子兮子兮，如此粲者何？
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <div class="fl">
                <span>09</span>
                <p>2020-03</p>
              </div>
              <div class="fr">
                <h5 class="dh">卿云歌</h5>
                <p class="dh">
                  卿云烂兮，糺（jiū）缦缦兮。 日月光华，旦复旦兮。
                  明明上天，烂然星陈。 日月光华，弘于一人。
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <div class="fl">
                <span>09</span>
                <p>2020-03</p>
              </div>
              <div class="fr">
                <h5 class="dh">越人歌</h5>
                <p class="dh">
                  今夕何夕兮，搴舟中流。 今日何日兮，得与王子同舟。
                  蒙羞被好兮，不訾（zī）诟耻。 心几烦而不绝兮，知得王子。
                  山有木兮木有枝，心悦君兮君不知。
                </p>
              </div>
            </a>
          </li>
        </ul>
      </section>

      <!-- 帮助&留言 -->
      <section id="help">
        <div class="wrap">
          <div class="fl">
            <h5 class="tit">常见问题</h5>
            <ul>
              <li>
                <span>Q:</span
                ><a class="dh" href="javascript:void(0);"
                  >常见问题标题文字常见问题标题文字常见问题标题文…</a
                >
              </li>
              <li>
                <span>Q:</span
                ><a class="dh" href="javascript:void(0);"
                  >常见问题标题文字常见问题标题文字常见问题标题文…</a
                >
              </li>
              <li>
                <span>Q:</span
                ><a class="dh" href="javascript:void(0);"
                  >常见问题标题文字常见问题标题文字常见问题标题文…</a
                >
              </li>
              <li>
                <span>Q:</span
                ><a class="dh" href="javascript:void(0);"
                  >常见问题标题文字常见问题标题文字常见问题标题文…</a
                >
              </li>
            </ul>
          </div>
          <div class="fr">
            <h5 class="tit">在线留言</h5>
            <a href="javascript:void(0);" class="bnt">提交留言</a>
            <form>
              <div class="inptbox">
                <input type="text" name="" id="" value="" placeholder="姓名" />
                <input type="text" name="" id="" value="" placeholder="手机" />
                <input type="text" name="" id="" value="" placeholder="邮箱" />
              </div>
              <textarea rows="" cols="" placeholder="留言内容"></textarea>
            </form>
          </div>
        </div>
      </section>
    </main>

    <!-- 尾部 -->
    <footer id="footer">尾巴</footer>

    <!-- JS -->
    <script src="/static/lib/js/jquery-1.11.3.min.js"></script>
    <script src="/static/lib/js/swiper.min.js"></script>
    <script src="/static/lib/js/jquery.anoslide.js"></script>
    <script src="/static/lib/js/bootstrap.min.js"></script>

    <script>
      // 轮播图
      var mySwiper = new Swiper('.swiper-container', {
        autoplay: true, //可选选项，自动滑动
        loop: true, // 循环模式选项

        // 如果需要分页器
        pagination: {
          el: '.swiper-pagination',
        },

        // 如果需要前进后退按钮
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      })
      $(function () {
        //主打产品
        $('.carousel ul').anoSlide({
          items: 3,
          speed: 500,
          prev: 'a.prev',
          next: 'a.next',
          delay: 100,
        })
      })
    </script>
  </body>
</html>
